In [2]:
import pandas as pd 
import numpy as np

In [6]:
str = pd.Series (['Karin', 'Fatec', 'Unina',np.nan, 'AlunaFatec'])
str

0         Karin
1         Fatec
2         Unina
3           NaN
4    AlunaFatec
dtype: object

In [7]:
str[0] = None
str.isnull()

0     True
1    False
2    False
3     True
4    False
dtype: bool

In [8]:
from numpy import nan as NA

In [9]:
notas = pd.Series([7.5, NA, 3.5, NA, 8.9])
notas.dropna()

0    7.5
2    3.5
4    8.9
dtype: float64

In [61]:
dados = pd.DataFrame ([['Ana', 7.6, 8.0], ['Lucas', 9.0, 6.9], ['Maicon', NA, NA], ['Carol', 8.0, NA]])
dados

        0    1    2
0     Ana  7.6  8.0
1   Lucas  9.0  6.9
2  Maicon  NaN  NaN
3   Carol  8.0  NaN

In [62]:
dados_limpos = dados.dropna()
dados_limpos

       0    1    2
0    Ana  7.6  8.0
1  Lucas  9.0  6.9

In [44]:
dados.dropna(how='all')

        0    1    2   3
0     Ana  7.6  8.0 NaN
1   Lucas  9.0  6.9 NaN
2  Maicon  NaN  NaN NaN
3   Carol  8.0  NaN NaN

In [45]:
dados[6]=NA
dados

        0    1    2   3   6
0     Ana  7.6  8.0 NaN NaN
1   Lucas  9.0  6.9 NaN NaN
2  Maicon  NaN  NaN NaN NaN
3   Carol  8.0  NaN NaN NaN
4     NaN  NaN  NaN NaN NaN

In [46]:
dados.dropna(axis=1, how='all')

        0    1    2
0     Ana  7.6  8.0
1   Lucas  9.0  6.9
2  Maicon  NaN  NaN
3   Carol  8.0  NaN
4     NaN  NaN  NaN

In [47]:
df = pd.DataFrame(np.random.randn(5,4))
df

          0         1         2         3
0  1.065701  0.718258 -0.274228 -0.757354
1  0.100443 -0.019807  0.696847 -1.181134
2  0.554408 -0.713964  1.605033 -0.525311
3 -0.246206  0.266328 -1.288171  0.284146
4 -2.625693 -0.304272 -0.310992 -0.467519

In [63]:
df.iloc[:4, 2] = NA
df.iloc[:2,2] = NA
df

          0         1         2         3
0  1.065701       NaN       NaN -0.757354
1  0.100443       NaN       NaN -1.181134
2  0.554408       NaN       NaN -0.525311
3 -0.246206       NaN       NaN  0.284146
4 -2.625693 -0.304272 -0.310992 -0.467519

In [53]:
df.dropna(thresh = 2)

          0         1         2         3
0  1.065701       NaN       NaN -0.757354
1  0.100443       NaN       NaN -1.181134
2  0.554408       NaN       NaN -0.525311
3 -0.246206       NaN       NaN  0.284146
4 -2.625693 -0.304272 -0.310992 -0.467519

In [54]:
df

          0         1         2         3
0  1.065701       NaN       NaN -0.757354
1  0.100443       NaN       NaN -1.181134
2  0.554408       NaN       NaN -0.525311
3 -0.246206       NaN       NaN  0.284146
4 -2.625693 -0.304272 -0.310992 -0.467519

In [56]:
df.fillna(0)

          0         1         2         3
0  1.065701  0.000000  0.000000 -0.757354
1  0.100443  0.000000  0.000000 -1.181134
2  0.554408  0.000000  0.000000 -0.525311
3 -0.246206  0.000000  0.000000  0.284146
4 -2.625693 -0.304272 -0.310992 -0.467519

In [58]:
notas = pd.Series([7.4, NA, NA, 6.8, 7.9, 10.0, NA, 5.9, 9.0, 6.0])
notas

0     7.4
1     NaN
2     NaN
3     6.8
4     7.9
5    10.0
6     NaN
7     5.9
8     9.0
9     6.0
dtype: float64

In [67]:
notas_limpas=notas.dropna()
notas_limpas

0     7.4
3     6.8
4     7.9
5    10.0
7     5.9
8     9.0
9     6.0
dtype: float64

In [68]:
med = notas_limpas.mean()
med

7.571428571428571

In [69]:
notas

0     7.4
1     NaN
2     NaN
3     6.8
4     7.9
5    10.0
6     NaN
7     5.9
8     9.0
9     6.0
dtype: float64

In [70]:
notas.dropna()

0     7.4
3     6.8
4     7.9
5    10.0
7     5.9
8     9.0
9     6.0
dtype: float64

In [73]:
notas = notas.fillna(med)
notas

0     7.400000
1     7.571429
2     7.571429
3     6.800000
4     7.900000
5    10.000000
6     7.571429
7     5.900000
8     9.000000
9     6.000000
dtype: float64

In [74]:
numeros = pd.DataFrame(np.random.randn (1000, 4))
numeros.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.028397    -0.017118    -0.007356     0.027052
std       1.030085     1.011794     0.993323     1.024908
min      -3.156083    -3.507862    -2.970950    -3.498669
25%      -0.761722    -0.700191    -0.679447    -0.686434
50%       0.004245    -0.006473    -0.033681     0.052310
75%       0.731676     0.664097     0.684130     0.717988
max       2.779740     3.155064     2.763048     3.966564

In [81]:
col = numeros[2]
col [np.abs(col)> 2]

1      2.516468
72    -2.325570
88    -2.301961
120    2.009193
142   -2.122310
202    2.305538
204   -2.832476
211    2.116630
218   -2.033421
292    2.422288
305    2.244385
319   -2.066163
320   -2.682784
326    2.097321
342    2.051083
347   -2.069155
358    2.179111
397   -2.032474
465    2.048018
498   -2.135381
521    2.141139
578   -2.013510
580    2.156635
581    2.314209
586    2.006694
607   -2.919561
610    2.763048
628    2.186289
647   -2.451600
670   -2.225137
690    2.317034
703   -2.771956
728    2.326589
730   -2.033307
731    2.077507
743   -2.291045
782   -2.433345
809    2.561584
902    2.064040
913   -2.174989
942   -2.970950
996    2.465397
Name: 2, dtype: float64

In [82]:
numeros[(np.abs(numeros) > 2).any(1)]

            0         1         2         3
1   -1.592071  0.572476  2.516468  0.906509
2    0.109563  2.584230 -0.723379 -1.370378
5   -0.785371 -0.542818 -0.140140  2.926680
11  -0.010153 -0.910585  0.645623  2.592032
12  -0.642778 -2.231172 -0.430752  0.678508
..        ...       ...       ...       ...
970  0.066600 -0.139103 -0.559391 -2.043506
978 -2.169243  0.971079  0.729459  0.295883
986  0.217546  0.787679  1.881789 -2.100642
987  0.064641 -1.962952  0.034976 -3.029613
996  2.184161  0.792782  2.465397 -1.726028

[170 rows x 4 columns]

In [85]:
numeros[np.abs(numeros)>3] = np.sign(numeros) *3 
numeros.describe

<bound method NDFrame.describe of             0         1         2         3
0    0.157718 -1.379178  1.236680  1.387840
1   -1.592071  0.572476  2.000000  0.906509
2    0.109563  2.000000 -0.723379 -1.370378
3   -0.519072  0.936358  0.004435 -0.275547
4    0.998741 -0.252559 -0.846729 -1.785792
..        ...       ...       ...       ...
995  0.244466 -0.622072  0.676216  0.425186
996  2.000000  0.792782  2.000000 -1.726028
997  1.333696  0.198928 -0.898069  0.763523
998 -0.138612 -0.264393  1.144713  0.844616
999  1.358992 -0.439108  0.076690 -0.272447

[1000 rows x 4 columns]>